{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": false,
        "targets": {
          "node": "16"
        }
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ]
}
