# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
build/
temp
preview
dev
dist-ssr
dist-firefox-v2
public/manifest.json
*.local
coverage
.env
.husky

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# XCode for the Safari extension
xcuserdata/
*.xccheckout
*.pbxuser
*~.nib
*.lock
*.swp
.Trashes
src/safari/Web Monetization/Shared (Extension)/Resources/
!src/safari/Web Monetization/Shared (Extension)/Resources/.gitkeep

# playwright
/tests/e2e/test-results/
/tests/e2e/test-results/.auth
/tests/e2e/playwright-report/
/playwright/.cache/
