# Used when running tests locally.
# In CI, we pass these in via the environment variables directly.
PW_EXPERIMENTAL_SERVICE_WORKER_NETWORK_EVENTS=1

# Can replace with a localhost instance if needed. Ensure doesn't end with /
TEST_WALLET_ORIGIN=https://wallet.interledger-test.dev
TEST_WALLET_USERNAME=user@email.com
TEST_WALLET_PASSWORD=some-password

# To connect extension to wallet
TEST_WALLET_ADDRESS_URL="https://ilp.interledger-test.dev/something"
# We'll make extension use this key-pair consistently. See docs/CONTRIBUTING.md
TEST_WALLET_KEY_ID=uuid-v4-key-id
TEST_WALLET_PUBLIC_KEY="base-64-public-key=="
TEST_WALLET_PRIVATE_KEY="hex-encoded-private-key"

## If following are not provided, tests that use these will be skipped.

# Fynbos specific tests, using https://eu1.fynbos.dev
FYNBOS_WALLET_ADDRESS_URL=
FYNBOS_USERNAME=
FYNBOS_PASSWORD=
