# Used when running tests locally.
# In CI, we pass these in via the environment variables directly.
# See TestEnvVars in tests/e2e/env.d.ts for details of each variable
PW_EXPERIMENTAL_SERVICE_WORKER_NETWORK_EVENTS=1

TEST_WALLET_USERNAME=user@email.com
TEST_WALLET_PASSWORD=some-password

# To connect extension to wallet
TEST_WALLET_ADDRESS_URL="https://ilp.interledger-test.dev/something"
# We'll make extension use this key-pair consistently. See docs/CONTRIBUTING.md
TEST_WALLET_KEY_ID=uuid-v4-key-id
TEST_WALLET_PUBLIC_KEY="base-64-public-key=="
TEST_WALLET_PRIVATE_KEY="hex-encoded-private-key"

# Additional wallet addresses for tests with connected test wallet
TEST_WALLET_ADDRESS_URL_E="https://ilp.interledger-test.dev/something-in-same-currency"
TEST_WALLET_ADDRESS_URL_W="https://ilp.interledger-test.dev/something-in-weaker-currency"
TEST_WALLET_ADDRESS_URL_S="https://ilp.interledger-test.dev/something-in-stronger-currency"

## If following are not provided, tests that use these will be skipped.

# Interledger Wallet specific tests, using https://sandbox.interledger.app
FYNBOS_WALLET_ADDRESS_URL=
FYNBOS_USERNAME=
FYNBOS_PASSWORD=
FYNBOS_TOTP_DETAILS=

# Chimoney specific tests, using Chimoney sandbox
CHIMONEY_WALLET_ORIGIN=
CHIMONEY_WALLET_ADDRESS_URL=
CHIMONEY_USERNAME=
CHIMONEY_PASSWORD=

# MMAON specific tests, using MMAON sandbox
MMAON_WALLET_ORIGIN=
MMAON_WALLET_ADDRESS_URL=
MMAON_USERNAME=
MMAON_PASSWORD=

# Interledger.cards specific tests (optional)
INTERLEDGER_CARDS_USERNAME=
INTERLEDGER_CARDS_PASSWORD=
INTERLEDGER_CARDS_WALLET_ADDRESS_URL=
INTERLEDGER_CARDS_ILP_DEV_WALLET_ADDRESS_URL=
