# Used when running tests locally.
# In CI, we pass these in via the environment variables directly.

# Can replace with a localhost instance if needed. Ensure doesn't end with /
WALLET_URL_ORIGIN=https://rafiki.money
WALLET_USERNAME=user@email.com
WALLET_PASSWORD=some-password

# To connect extension to wallet
CONNECT_WALLET_ADDRESS_URL="https://ilp.rafiki.money/something"
# ...generate a key-pair at https://rafiki.money/settings/developer-keys
# ...we'll make extension use this key-pair consistently
CONNECT_KEY_ID=uuid-v4-key-id
CONNECT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
PUBLIC-KEY-CONTENTS
-----END PUBLIC KEY-----"
CONNECT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
PRIVATE-KEY-CONTENTS
-----END PRIVATE KEY-----"
