# Used when running tests locally.
# In CI, we pass these in via the environment variables directly.

# Can replace with a localhost instance if needed. Ensure doesn't end with /
WALLET_URL_ORIGIN=https://rafiki.money
WALLET_USERNAME=user@email.com
WALLET_PASSWORD=some-password
