@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Titillium Web';
    /* light */
    src: url('../../assets/fonts/titillium-web/titillium-web-latin-300-normal.woff2')
      format('woff2');
    font-style: normal;
    /* font-light */
    font-weight: 300;
  }
  @font-face {
    font-family: 'Titillium Web';
    /* regular */
    src: url('../../assets/fonts/titillium-web/titillium-web-latin-400-normal.woff2')
      format('woff2');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'Titillium Web';
    /* semibold */
    src: url('../../assets/fonts/titillium-web/titillium-web-latin-600-normal.woff2')
      format('woff2');
    font-style: normal;
    /* font-medium */
    font-weight: 500;
  }
  @font-face {
    font-family: 'Titillium Web';
    /* bold */
    src: url('../../assets/fonts/titillium-web/titillium-web-latin-700-normal.woff2')
      format('woff2');
    font-style: normal;
    /* font-bold */
    font-weight: 700;
  }

  :root {
    /* Text colors */
    --text-primary: 59 130 246;
    --text-secondary: 86 183 181;
    --text-secondary-dark: 52 152 152;
    --text-weak: 100 116 139;
    --text-medium: 51 65 85;
    --text-strong: 15 23 42;
    --text-error: 239 68 68;
    --text-disabled: 168 174 184;

    /* Background colors */
    --bg-primary: 59 130 246;
    --bg-nav-active: 226 232 240;
    --bg-error: 254 226 226;
    --bg-error-hover: 254 202 202;
    --bg-button-base: 86 183 181;
    --bg-button-base-hover: 52 152 152;
    --bg-switch-base: 152 225 208;
    --bg-disabled: 248 250 252;
    --bg-disabled-strong: 203 213 225;

    /* Border colors */
    --border-base: 203 213 225;
    --border-focus: 59 130 246;
    --border-error: 220 38 38;

    /* Popup */
    --popup-width: 448px;
    --popup-height: 600px;
  }

  body {
    @apply bg-white font-titillium text-base text-medium;
  }
}
