@import 'tailwindcss';
@import './tokens.css';
@config '../tailwind.config.ts';

body {
  @apply bg-white font-titillium text-base text-medium;
}

button,
[role='button'] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

@layer base {
  @font-face {
    font-family: 'Titillium Web';
    /* light */
    src: url('/assets/fonts/titillium-web/titillium-web-latin-300-normal.woff2')
      format('woff2');
    font-style: normal;
    /* font-light */
    font-weight: 300;
  }
  @font-face {
    font-family: 'Titillium Web';
    /* regular */
    src: url('/assets/fonts/titillium-web/titillium-web-latin-400-normal.woff2')
      format('woff2');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'Titillium Web';
    /* semibold */
    src: url('/assets/fonts/titillium-web/titillium-web-latin-600-normal.woff2')
      format('woff2');
    font-style: normal;
    /* font-medium */
    font-weight: 500;
  }
  @font-face {
    font-family: 'Titillium Web';
    /* bold */
    src: url('/assets/fonts/titillium-web/titillium-web-latin-700-normal.woff2')
      format('woff2');
    font-style: normal;
    /* font-bold */
    font-weight: 700;
  }
}
