name: Build previews

on:
  workflow_run:
    types:
      - 'completed'
    workflows:
      - 'PR Checks'

jobs:
  comment:
    name: Add comment with extension preview builds
    runs-on: ubuntu-22.04
    if: github.repository == 'interledger/web-monetization-extension'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Get workflow artifacts
        uses: actions/github-script@v7
        id: get-workflow-artifacts
        with:
          script: |
            const script = require('./scripts/get-workflow-artifacts.cjs')
            await script({ github, context, core })

      - name: Find comment
        uses: peter-evans/find-comment@v2
        id: find-comment
        with:
          issue-number: ${{ steps.get-workflow-artifacts.outputs.pr_number }}
          comment-author: 'raducristianpopa'
          body-includes: Extension builds preview

      - name: Add/Update comment
        uses: peter-evans/create-or-update-comment@v2
        with:
          token: ${{ secrets.PAT }}
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ steps.get-workflow-artifacts.outputs.pr_number }}
          body: ${{ steps.get-workflow-artifacts.outputs.comment_body }}
          edit-mode: replace
