name: Bump Manifest Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to bump to'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor

permissions:
  contents: write
  pull-requests: write

jobs:
  bump-version:
    name: Bump version
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Environment setup
        uses: ./.github/actions/setup

      - name: Bump version
        id: bump
        uses: actions/github-script@v8
        env:
          INPUT_VERSION: ${{ github.event.inputs.version }}
        with:
          script: |
            const { default: script } = await import('${{ github.workspace }}/.github/actions/bump-manifest-version.ts')
            await script({ github, context, core })

      - name: Format with Biome
        run: pnpm format:fix

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'chore: release version ${{ steps.bump.outputs.version }}'
          title: 'chore: release version ${{ steps.bump.outputs.version }}'
          body: |
            Bump extension version to ${{ steps.bump.outputs.version }}
          branch: preview/${{ steps.bump.outputs.version }}
          labels: preview
