name: Nightly build

on:
  schedule:
    - cron: '0 0 * * 1-6'
  workflow_dispatch:
    inputs: {}

permissions:
  contents: write

defaults:
  run:
    shell: bash

jobs:
  build-nightly:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Environment setup
        uses: ./.github/actions/setup

      - name: Build
        run: pnpm build --channel=nightly

      - name: Get built version
        uses: actions/github-script@v7
        id: version
        with:
          script: |
            const script = require('./.github/actions/get-built-version.cjs')
            await script({ github, context, core })

      - name: Delete existing release
        run: gh release delete nightly --cleanup-tag --yes
        continue-on-error: true
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Create GH Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*.zip
          tag_name: 'nightly'
          name: Nightly ${{ steps.version.outputs.version }}
          body: |
            > [!warning]
            > The Nightly build is for adventurous folks. It's updated daily with less-tested features and improvements.
          prerelease: true
