name: PR Checks

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, firefox]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Environment setup
        uses: ./.github/actions/setup

      - name: Build
        shell: bash
        run: pnpm build ${{ matrix.browser }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v3.1.3
        with:
          name: ${{ github.event.pull_request.number }}-${{ matrix.browser }}
          path: dist/${{ matrix.browser }}.zip
          if-no-files-found: error

  lint:
    name: Lint
    runs-on: ubuntu-22.04
    continue-on-error: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Environment setup
        uses: ./.github/actions/setup

      - name: Lint
        run: pnpm lint

  test:
    name: Test
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Environment setup
        uses: ./.github/actions/setup

      - name: Test
        run: pnpm test:ci
