name: Release

concurrency: release

permissions:
  contents: write

env:
  VERSION: ${{ github.event.inputs.tag }}

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        description: What is the release tag? (e.g. "1.0.2")
        required: true

jobs:
  release:
    runs-on: ubuntu-22.04
    if: github.repository == 'interledger/web-monetization-extension'
    steps:
      - name: Check release version
        id: release-version
        env:
          VERSION: ${{ env.VERSION }}
        run: |
          if [[ ! "${VERSION}" =~ ^[0-9]+\.[0-9]+\.[0-9]+.*$ ]]; then
              echo "Invalid version tag '${VERSION}'"
              exit 1
          fi

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Environment setup
        uses: ./.github/actions/setup

      - name: Build
        shell: bash
        run: pnpm build

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: web-monetization-extension@${{ env.VERSION }}
          tag_name: ${{ format('{0}', env.VERSION) }}
          prerelease: false
          generate_release_notes: true
          files: |
            ./dist/chrome/chrome.zip
            ./dist/firefox/firefox.zip
            ./dist/opera/opera.zip
            ./dist/edge/edge.zip
