name: Sanity

on:
  push:
    branches:
      - main

# TODO(@raducristianpopa): add lint/format checks and tests

jobs:
  build:
    name: Build extension
    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, firefox]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Environment setup
        uses: ./.github/actions/setup

      - name: Build
        shell: bash
        run: pnpm build ${{ matrix.browser}} nightly

  test:
    name: Test
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Environment setup
        uses: ./.github/actions/setup

      - name: Test
        run: pnpm test:ci
