name: Sanity

on:
  push:
    branches:
      - main

# TODO(@raducristianpopa): add lint/format checks and tests

jobs:
  build:
    name: Build extension
    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, firefox, opera, edge]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Environment setup
        uses: ./.github/workflows/setup

      - name: Build
        run: pnpm build:${{ matrix.browser}}
