name: End-to-End Tests
on:
  pull_request_review:
    types: [submitted]

concurrency:
  group: ${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  test-e2e:
    if: ${{
      github.event.review.body == 'test-e2e' &&
      contains(fromJson('["OWNER", "MEMBER", "COLLABORATOR"]'), github.event.review.author_association)
      }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Chrome
            project: chrome
            target: chrome
            runs-on: ubuntu-22.04
          # - name: Firefox
          #   project: firefox
          #   target: firefox
          #   runs-on: ubuntu-22.04
          - name: Edge
            project: msedge
            target: chrome
            runs-on: ubuntu-22.04

    timeout-minutes: 15
    name: E2E Tests - ${{ matrix.name }}
    runs-on: ${{ matrix.runs-on }}
    environment: test
    steps:
      - uses: actions/checkout@v4

      - name: Environment setup
        uses: ./.github/actions/setup

      - name: Build
        run: pnpm build ${{ matrix.target }} --channel=nightly

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - name: Run Playwright tests
        run: xvfb-run pnpm test:e2e:${{ matrix.project }}
        env:
          PLAYWRIGHT_PROJECT: ${{ matrix.project }}
          PW_EXPERIMENTAL_SERVICE_WORKER_NETWORK_EVENTS: '1'
          WALLET_URL_ORIGIN: ${{ vars.E2E_WALLET_URL_ORIGIN }}
          WALLET_USERNAME: ${{ vars.E2E_WALLET_USERNAME }}
          WALLET_PASSWORD: ${{ secrets.E2E_WALLET_PASSWORD }}
          CONNECT_WALLET_ADDRESS_URL: ${{ vars.E2E_CONNECT_WALLET_ADDRESS_URL }}
          CONNECT_KEY_ID: ${{ vars.E2E_CONNECT_KEY_ID }}
          CONNECT_PUBLIC_KEY: ${{ secrets.E2E_CONNECT_PUBLIC_KEY }}
          CONNECT_PRIVATE_KEY: ${{ secrets.E2E_CONNECT_PRIVATE_KEY }}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-${{ matrix.project }}
          path: tests/e2e/playwright-report/
          retention-days: 3
